.sectioncard{
    padding: 2rem;
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h3{
  margin-top: 3rem;
  color: aliceblue;
  font-size: 300%;
}
.transparentCards-container {
       background-color: #1B4256;
   /*  background-image: url(https://raw.githubusercontent.com/Dimterion/Basic-html-css-js-app/master/assets/img_hill.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
  }
  
  .ssectionCard{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50vh;
    width: 100%;
    background-color: #1B4256;
  }
  .transparentCard {
    position: relative;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    min-height:30vh;
    width: 450px;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .transparentCard:hover {
    border: 1px solid #F58220;
  }
  
  .transparentCard-text {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: lightyellow;
  }
  