@import url('https://fonts.googleapis.com/css2?family=Unna:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Unna:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300&family=Unna:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          
         
}

h1, h2{
  font-family: 'Unna', serif;
}

h3{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
/* .imgMain{
  background-image: url("./Assets/primaria.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  height:80vh ;
  width: 100%;
} */

.bg-dark{
  background-color: #006CB5!important;
  
}

.navbar-dark .navbar-brand{
  color: rgb(233, 229, 225)!important;
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgb(233, 229, 225)!important;
  display: inline-block;
  position: relative; 
  padding-bottom: 0.25rem;
}  

.navbar-dark .navbar-brand::before{
 color: #F58220!important;
 content: "";
 position: absolute;
 left: 0;
 bottom: 0;
 width: 0;
 height: 0.1rem;
 background-color: rgb(233, 229, 225);
}

.navbar-dark .navbar-nav .nav-link::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1rem;
  background-color: rgb(233, 229, 225);
}

.navbar-dark .navbar-brand:hover::before{
   background-color: #F58220;
  width: 100%;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
  background-color: #F58220;
  width: 100%;
}

.dropdown-item{
  color: #F58220;
  text-decoration: none;
}


.link{
  color: #F58220;
  text-decoration: none;
}

.nav-link:hover{
 
  text-decoration: none;
}

.gradient {
  width: 100%;
  min-height: 55vh;
  background: linear-gradient(334deg, #9d82a9df, #ffffff, #867fc6ed);
  background-size: 180% 180%;
  -webkit-animation: gradient-animation 6s ease infinite;
  animation: gradient-animation 6s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes gradient-animation {
  0% {
            background-position: 0% 50%;
  }
  50% {
            background-position: 100% 50%;
  }
  100% {
            background-position: 0% 50%;
  }
}

@keyframes gradient-animation {
  0% {
            background-position: 0% 50%;
  }
  50% {
            background-position: 100% 50%;
  }
  100% {
            background-position: 0% 50%;
  }
}
h1{
  color: #006CB5;
  font-size:450% ;
  margin-bottom: 3rem;
 }

 .title-eoe{
  margin-top: 5rem;
  color: #006CB5;
  font-size:450% ;
  }
  
  .title2-eoe{
    color: #006CB5;
  font-size:400% ;
  margin-bottom: 3rem;
  }

.logo__img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  
 
}

.cont-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont{
  width: 50vw;
  min-height:100vh ;
  text-align: justify;
  display:flex;
  flex-direction: column; 
}

.title-hist{
  margin-top: 5rem;
  text-align:left;
}
.title-hist2{
 color: #006CB5;
 margin-top: 5rem;
 margin-bottom: 3rem;
 text-align:left;
}

.text-bold{
  font-size:x-large;
  margin-top: 2rem;
}

.piedepagina{
  min-height: 30vh;
  width: 100%;  
  background-color: #006CB5 !important;
  padding-left: 1.5rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

}

.cont-foot{
  margin-top: 2rem;
  display: flex;
  align-items: start;
  justify-content:left;
  flex-wrap: wrap;
}
.width-foot{
  max-width: 300px;
}
.font-foot{
  font-size:medium;
}
.font-foot2{
  font-size:x-large;
}
.title-foot{
  margin-right: 15rem;
  font-size:xx-large;
}

.dual{
  max-width: 250px;
  margin-right: 15rem;
}

/* sidebar -------------------------------*/

.sticky-side{
  position:sticky;
  top: 0px;
  background-color: #006CB5;
  min-height: 30vh;
  width: 15vw;
}

.nav-link{
  color: #ffffff;
}



.sticky-side{
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  font-size: 130%;
 
}


/* sidebar -------------------------------*/

.imgside{
  width: 85vw;
  height: 100%;
  border-top: solid 10px #006CB5;
  background-image: url("./Assets/mancha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content:end;
  align-items: center;
  
  
}

 .image_side{
  max-width: 100%;
  object-fit: contain;
  height: 25rem;
  position:relative;
   /* Posición inicial fuera del contenedor */
   /* Ajusta la posición vertical según tus necesidades */
  transform: translateX(100%); /* Centra horizontalmente */
  animation: desplazamiento 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards; /* Aplica la animación curva */
  
}
@keyframes desplazamiento {
  0% {
    transform: translateX(100%); /* Posición inicial fuera del contenedor */
  }
  100% {
    transform: translateX(-50%); /* Posición final centrada en el contenedor */
  }
}

@media (max-width: 400px) {
  .logo__img{
    height: 5rem;

  }
  
  h3{
    font-size: 200%;
  }

}
@media (max-width: 1300px) {

 
  .image_side{
    height: 18rem;
  }
}

@media (max-width: 950px) {

  .main-title{
    display: none;
  }
  .image_side{
    height: 13rem;
  }
}

@media (max-width: 840px) {

  
  .sticky-side{
    min-width: 100%;
  }

  .imgside{
    display: none;
  }
  
}

@media (max-width: 550px) {
  h1{
    font-size:300%;
  }
  .image_frente{
    display: none;
  }
}

.image_parroquia{
  height: 30rem;
  margin-bottom: 5em;
}

.image_parroquia2{
  height: 28rem;
  object-fit: contain;
  align-self: flex-start;
}

.underl2{
  margin-left: 2rem;
  text-decoration: none;
  color: #ffffff;
}
.link2{
  color: rgb(233, 229, 225)!important;
    display: inline-block;
    position: relative;
    margin-top: 0.25rem;
    padding-top: 0.30rem;
    text-decoration: none;
}
.link2:hover{
 
 border-bottom:2px solid #F58220;
}
.underl:hover{
  color: #ffffff;
  text-decoration:underline;
  text-decoration-color: #F58220;
}
.underl2:hover{
  color: #ffffff;
  text-decoration:underline;
  text-decoration-color: #F58220;
}

.image_frente{
  height: 14rem;
}

.image_frente1{
  margin-right: 3rem;
}

.image_frente2{
  height:20rem;
  object-fit: contain;
  align-self: start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.gallery-container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 12rem;
  padding-right: 12rem;
  padding-bottom: 10rem;

}
.gallery-title{
  text-align:left;
  color: #006CB5;
  margin-bottom: 10rem;
  font-size: 450%;
  margin-left: 17.5rem;
}

/* Ajuste de la galería a tres columnas en pantallas más pequeñas */
@media screen and (max-width: 900px) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Ajuste de la galería a dos columnas en pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Ajuste de la galería a una columna en pantallas más pequeñas */
@media screen and (max-width: 400px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.secundario{
  margin-bottom: 10rem;
}


/*  --------------- CAROUSEL ----------------- */



.imagecar {
  position: relative;
  width: 100%;
}

.image__imgcar {
  display: block;
  height: auto;
  width: 100%;
}

.carr-cont{
 
margin-top: 10rem;
}

.borderbottom{
  border-bottom:10px solid #006CB5;
}